@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #68acbc;
    font-size: 15px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 70px;
    background-color: black;
    margin-bottom: 40px;
}
header h1{
    font-size: 30px;
    color: white;
}
body h2{
    margin-bottom: 5px;
    font-size: 30px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 20px;
    font-size: 20px;
}
a{
    text-decoration: none;
    list-style: none;
    color: white;
}
a:hover{
    color: #152044;
}
main{
    display: grid;
    grid-template-columns:1fr 1fr;
    width: 100%;
    max-width: 1200px;
}
#container-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.container-genero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#container-cadastro{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
}
#container-cadastro{
    margin-bottom:5px;
    color:#333;
}
#container-cadastro div{
    margin-bottom: 5px;
}
#container-cadastro label{
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    color: #555;
}
#container-cadastro input[type="text"],
#container-cadastro input[type="email"],
#container-cadastro input[type="tel"],
#container-cadastro input[type="date"],
#container-cadastro input[type="password"]{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}
#container-cadastro .genero{
    display: flex;
}

#container-cadastro #btn-cadastrar{
    display: block;
    width: 100%;
    background-color: #68acbc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
#container-cadastro #btn-cadastrar:hover{
    background-color: #152044;
}
@media(max-width: 768px){
    main{
        grid-template-columns: 1fr;
    }
    #container-img img{
        display: none;
    }
    header{
        justify-content: space-between;
    }
    nav ul{
        width: 100%;
    }
    nav ul li{
        margin: 10px 10px;
    }
}





