*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 20px;
}
main{
    display: grid;
    grid-template-columns:1fr 1fr;
    width: 100%;
}
.container-img img{
    width: 100%;
    height: auto;
}




